
<div class="row" style="overflow: hidden;width: 100%;"  *ngIf="!ismobile()">
    <img src="../../assets/science-background-png-3.png" alt="" style="height: 100vh;position: fixed;width: 100vw;">
    <div class="clo-md-9 col-8"></div>
    <div class="col-md-3 col-4">
        <button color="primary" mat-raised-button style="margin: 5%;margin-left: 80%;" (click)="logout()">
        <mat-icon>person</mat-icon>
        log out
    </button></div>
    <div class="col-md-4 col-2" style="padding-top: 10%;"></div>
    <div class="col-md-4 col-8" style="padding-top: 10%;">
        <button class="button center" style="padding: 2%;width: 70%;margin-left: 15%;margin-right: 15%;"  (click)="paper()" mat-raised-button color="primary">Paper</button>
    </div>
    <div class="col-md-4 col-2" style="padding-top: 10%;"></div>


    <div class="col-md-4 col-2" style="padding-top: 4%;"></div>
    <div class="col-md-4 col-8" style="padding-top: 4%;">
        <button class="button center" style="padding: 2%;width: 70%;margin-left: 15%;margin-right: 15%;" *ngIf="attempt()" (click)="marking()" mat-raised-button color="primary">Marking Sheet</button>
    </div>
    <div class="col-md-4 col-2" style="padding-top: 4%;"></div>


    <div class="col-md-4 col-2" style="padding-top: 4%;"></div>
    <div class="col-md-4 col-8" style="padding-top: 4%;">
        <button class="button center" style="padding: 2%;width: 70%;margin-left: 15%;margin-right: 15%;"  (click)="rank()" mat-raised-button color="primary">Rank</button>
    </div>
    <div class="col-md-4 col-2" style="padding-top: 4%;"></div>
    

</div>

<div class="row" style="overflow: hidden;width: 100%;" *ngIf="ismobile()">
    <img src="../../assets/science-background-png-3.png" alt="" style="height: 100vh;position: fixed;width: 100vw;">
    <div class="clo-md-9 col-8"></div>
    <div class="col-md-3 col-4">
        <button color="primary" mat-raised-button style="margin: 5%;" (click)="logout()">
            <mat-icon>person</mat-icon>
            log out
        </button></div>
    <div class="col-md-4 col-2" style="padding-top: 20%;"></div>
    <div class="col-md-4 col-8" style="padding-top: 20%;">
        <button class="button center" style="padding: 2%;width: 70%;margin-left: 15%;margin-right: 15%;"
           (click)="paper()" mat-raised-button color="primary">Paper</button>
    </div>
    <div class="col-md-4 col-2" style="padding-top: 20%;"></div>


    <div class="col-md-4 col-2" style="padding-top: 8%;"></div>
    <div class="col-md-4 col-8" style="padding-top: 8%;">
        <button class="button center" style="padding: 2%;width: 70%;margin-left: 15%;margin-right: 15%;"
            *ngIf="attempt()" (click)="marking()" mat-raised-button color="primary">Marking Sheet</button>
    </div>
    <div class="col-md-4 col-2" style="padding-top: 8%;"></div>


    <div class="col-md-4 col-2" style="padding-top: 8%;"></div>
    <div class="col-md-4 col-8" style="padding-top: 8%;">
        <button class="button center" style="padding: 2%;width: 70%;margin-left: 15%;margin-right: 15%;"
            (click)="rank()" mat-raised-button color="primary">Rank</button>
    </div>
    <div class="col-md-4 col-2" style="padding-top: 8%;"></div>


</div>