/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(122, 122, 122) rgb(255, 255, 255);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255);

}

*::-webkit-scrollbar-thumb {
  background-color: rgb(122, 122, 122);
  border-radius: 20px;
  border: 3px solid rgba(255, 255, 255);
}
