<mat-card>
  <mat-card-content>
    <mat-vertical-stepper #stepper [linear]="linear">
      <mat-step [editable]="editable" [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Select Grade</ng-template>
          <mat-form-field>
            <mat-label>Grade</mat-label>
            <input [max]="13" [min]="0" formControlName="grade" matInput placeholder="Grade" required type="number">
          </mat-form-field>
          <div>
            <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
            <button (click)="getPaperByGrade(stepper)"
                    *ngIf="!progress"
                    color="primary"
                    mat-button
                    type="submit">Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [editable]="editable" [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Select Paper</ng-template>
          <mat-form-field>
            <mat-label>Paper</mat-label>
            <mat-select formControlName="paperNumber">
              <mat-option *ngFor="let paper of papers" [value]="paper?.paperNumber">
                {{paper?.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <mat-progress-bar *ngIf="progress3" mode="indeterminate"></mat-progress-bar>
            <button (click)="submit(stepper)"
                    mat-button
                    type="submit">Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <button (click)="stepper.reset()" mat-button>Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
