
.mat-card .mat-card-image {
  width: calc(50% + 0px) !important;
  margin: auto auto 30px auto !important;
  display: block !important;
}


@media only screen and (max-width: 768px) {
  .mat-card .mat-card-image {
    width: calc(100% + 0px) !important;
    margin: auto auto 30px auto !important;
    display: block !important;
  }
}
