<form [formGroup]="viewRank">
  <mat-card>
<!--    <div class="p-20 bg-info position-relative">-->
<!--      <h4 class="card-title text-white m-0">-->
<!--        <ng-container *ngIf="!showViewForm">-->
<!--          View Paper-->
<!--        </ng-container>-->
<!--        <ng-container *ngIf="showViewForm">-->
<!--           Grade {{viewRank.value.grade}}  - Paper {{viewRank.value.paperNumber}}-->
<!--        </ng-container>-->
<!--      </h4>-->
<!--    </div>-->

    <ng-template [ngIf]="!showViewForm && !showViewTop10">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Grade</mat-label>
          <input formControlName="grade" matInput type="number">
          <mat-hint
            *ngIf="viewRank.controls['grade'].invalid && (viewRank.controls['grade'].dirty || viewRank.controls['grade'].touched)"
            class="alert alert-danger">
            <div *ngIf="viewRank.controls['grade'].errors.required">Grade is required</div>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Paper number</mat-label>
          <input formControlName="paperNumber" matInput type="number">
          <mat-hint
            *ngIf="viewRank.controls['paperNumber'].invalid && (viewRank.controls['paperNumber'].dirty || viewRank.controls['paperNumber'].touched)"
            class="alert alert-danger">
            <div *ngIf="viewRank.controls['paperNumber'].errors.required">paper number is required</div>
          </mat-hint>
        </mat-form-field>
        <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
        <ng-container *ngIf="!progress">
          <button (click)="getRanking()" [disabled]="viewRank.invalid" color="primary" mat-raised-button
                  style="width: 100%" type="submit">View All
          </button>
          <button (click)="viewTop10()" [disabled]="viewRank.invalid" color="primary" mat-raised-button
                  style="margin-top:2% ; width: 100%" type="submit">View Top 10
          </button>
          <button (click)="generateRanking()" [disabled]="viewRank.invalid" color="primary" mat-raised-button
                  style="margin-top:2% ; width: 100%" type="submit">Generate Ranking
          </button>
        </ng-container>
      </mat-card-content>
    </ng-template>
    <ng-template [ngIf]="showViewForm">
        <app-view-all-ranks [students]="students" (close)="closeWindow()"></app-view-all-ranks>
    </ng-template>
    <ng-template [ngIf]="showViewTop10">
        <app-view-top10 [students]="students" (close)="closeWindow()"></app-view-top10>
    </ng-template>
  </mat-card>
</form>
