<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Enable paper access
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-create-access></app-create-access>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Update paper access
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <app-update-access></app-update-access>
    </ng-template>
  </mat-expansion-panel>

</mat-accordion>
