<div fxLayout="row wrap">
  <!--  change_'fxFlex.gt-md=50'-->
  <div fxFlex="100" fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100">
    <app-student-list></app-student-list>
  </div>
  <!--  change_'fxFlex.gt-md=50'-->
  <div fxFlex="100" fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100">
    <button class="button-add-student" mat-raised-button  color="primary" (click)="showAddStudent()">{{buttonText}}</button>
    <ng-template [ngIf]="addStudentShow">
      <mat-card>
        <div class="p-20 bg-info position-relative">
          <h4 class="card-title text-white m-0">Add Student</h4>
        </div>
        <mat-card-content class="main-container">
          <form (ngSubmit)="submit()" [formGroup]="createStudent">

            <mat-form-field appearance="outline">
              <mat-label>Student Id (Required) </mat-label>
              <input formControlName="userId" matInput type="text">
              <mat-hint
                *ngIf="createStudent.controls['userId'].invalid && (createStudent.controls['userId'].dirty || createStudent.controls['userId'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['userId'].errors.required">User id is required</div>
              </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Name (Required)</mat-label>
              <input formControlName="fullName" matInput type="text">
              <mat-hint
                *ngIf="createStudent.controls['fullName'].invalid && (createStudent.controls['fullName'].dirty || createStudent.controls['fullName'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['fullName'].errors.required">Name is required</div>
              </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>telephone</mat-label>
              <input formControlName="teleNo" matInput type="number" min="0">
              <mat-hint
                *ngIf="createStudent.controls['teleNo'].invalid && (createStudent.controls['teleNo'].dirty || createStudent.controls['teleNo'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['teleNo'].errors.required">telephone number is required</div>
              </mat-hint>
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label>School</mat-label>
              <input formControlName="school" matInput type="text">
              <mat-hint
                *ngIf="createStudent.controls['school'].invalid && (createStudent.controls['school'].dirty || createStudent.controls['school'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['school'].errors.email">Please enter a valid email.</div>
              </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <textarea matInput formControlName="address" placeholder="">Address</textarea>
              <mat-hint
                *ngIf="createStudent.controls['address'].invalid && (createStudent.controls['address'].dirty || createStudent.controls['address'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['address'].errors.required">address is required</div>
              </mat-hint>
            </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput type="text">
              <mat-hint
                *ngIf="createStudent.controls['email'].invalid && (createStudent.controls['email'].dirty || createStudent.controls['email'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['email'].errors.email">Please enter a valid email.</div>
              </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Class</mat-label>
              <mat-select formControlName="class" >
                <mat-option *ngFor="let type of classTypes" [value]="type">
                  {{type.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createStudent.controls['class'].hasError('required')">
                You must make a selection
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password (Required)</mat-label>
              <input formControlName="password" matInput type="{{passwordType}}">
              <mat-icon (click)="showPassword()" *ngIf="passwordType === 'text'" matSuffix>visibility_off</mat-icon>
              <mat-icon (click)="showPassword()" *ngIf="passwordType === 'password'" matSuffix>visibility</mat-icon>
              <mat-hint
                *ngIf="createStudent.controls['password'].invalid && (createStudent.controls['password'].dirty || createStudent.controls['password'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['password'].errors.required">Password is required</div>
              </mat-hint>
            </mat-form-field>

            <button [disabled]="createStudent.invalid" class="button" mat-raised-button type="submit">Create class</button>
          </form>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
</div>
