<div fxLayout="row wrap">
  <!--  change_'fxFlex.gt-md=50'-->
  <div fxFlex="100" fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100">
    <ul>
      <mat-card>
        <div class="p-20 bg-info position-relative">
          <h4 class="card-title text-white m-0">address {{class?.address}}</h4>
          <!--        <h6 class="card-subtitle text-white m-0 op-5">Checkout my contacts here</h6>-->
          <!--        <button mat-mini-fab color="accent" class="add-contact">+</button>-->
        </div>
        <div class="message-box contact-box p-20">
          <div class="message-widget contact-widget">
            <ul>
              <!-- Message -->
              <a *ngFor="let doc of student | async">
                <!--            <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>-->
                <div class="mail-contnet">
                  <h5>{{doc | json}}</h5>
                </div>
              </a>
              <!-- Message -->
            </ul>
          </div>
        </div>
      </mat-card>
    </ul>

    <!-- <mat-card>-->
    <!--      <div class="p-20 bg-info position-relative">-->
    <!--        <h4 class="card-title text-white m-0">address 09</h4>-->
    <!--        &lt;!&ndash;        <h6 class="card-subtitle text-white m-0 op-5">Checkout my contacts here</h6>&ndash;&gt;-->
    <!--        &lt;!&ndash;        <button mat-mini-fab color="accent" class="add-contact">+</button>&ndash;&gt;-->
    <!--      </div>-->
    <!--      <div class="message-box contact-box p-20">-->
    <!--        <div class="message-widget contact-widget">-->
    <!--          <ul>-->
    <!--            <li *ngFor="let class of testClass">-->
    <!--              {{ class }}-->
    <!--            </li>-->
    <!--          </ul>-->
    <!--          &lt;!&ndash; Message &ndash;&gt;-->
    <!--          <a href="#">-->
    <!--            &lt;!&ndash;            <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>&ndash;&gt;-->
    <!--            <div class="mail-contnet">-->
    <!--              <h5>Pavan kumar</h5>-->
    <!--            </div>-->
    <!--          </a>-->
    <!--          &lt;!&ndash; Message &ndash;&gt;-->
    <!--          <a href="#">-->
    <!--            &lt;!&ndash;            <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>&ndash;&gt;-->
    <!--            <div class="mail-contnet">-->
    <!--              <h5>Pavan kumar</h5>-->
    <!--            </div>-->
    <!--          </a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </mat-card>-->
  </div>
  <!--  change_'fxFlex.gt-md=50'-->
  <div fxFlex="100" fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100">
    <button class="button-add-student" mat-raised-button  color="primary" (click)="showAddStudent()">{{buttonText}}</button>
    <ng-template [ngIf]="addStudentShow">
      <mat-card>
        <div class="p-20 bg-info position-relative">
          <h4 class="card-title text-white m-0">Add Student</h4>
        </div>
        <mat-card-content class="main-container">
          <form (ngSubmit)="submit()" [formGroup]="createStudent">

            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input formControlName="name" matInput type="text">
              <mat-hint
                *ngIf="createStudent.controls['name'].invalid && (createStudent.controls['name'].dirty || createStudent.controls['name'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['name'].errors.required">Name is required</div>
              </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Address</mat-label>
              <textarea matInput formControlName="address" placeholder="">Address</textarea>
              <mat-hint
                *ngIf="createStudent.controls['address'].invalid && (createStudent.controls['address'].dirty || createStudent.controls['address'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['address'].errors.required">address is required</div>
              </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>telephone</mat-label>
              <input formControlName="telephone" matInput type="number" min="0">
              <mat-hint
                *ngIf="createStudent.controls['telephone'].invalid && (createStudent.controls['telephone'].dirty || createStudent.controls['telephone'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['telephone'].errors.required">address is required</div>
              </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput type="text">
              <mat-hint
                *ngIf="createStudent.controls['email'].invalid && (createStudent.controls['email'].dirty || createStudent.controls['email'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['email'].errors.email">Please enter a valid email.</div>
                <div *ngIf="createStudent.controls['email'].errors.required">Email is required</div>
              </mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Class</mat-label>
              <mat-select formControlName="class" >
                <mat-option *ngFor="let type of classTypes" [value]="type">
                  {{type.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="createStudent.controls['class'].hasError('required')">
                You must make a selection
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input formControlName="password" matInput type="{{passwordType}}">
              <mat-icon (click)="showPassword()" *ngIf="passwordType === 'text'" matSuffix>visibility_off</mat-icon>
              <mat-icon (click)="showPassword()" *ngIf="passwordType === 'password'" matSuffix>visibility</mat-icon>
              <mat-hint
                *ngIf="createStudent.controls['password'].invalid && (createStudent.controls['password'].dirty || createStudent.controls['password'].touched)"
                class="alert alert-danger">
                <div *ngIf="createStudent.controls['password'].errors.required">Password is required</div>
              </mat-hint>
            </mat-form-field>

            <button [disabled]="createStudent.invalid" class="button" mat-raised-button type="submit">Create class</button>
          </form>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
</div>
