<mat-card>
  <mat-card-content>
    <mat-vertical-stepper #stepper [linear]="linear">
      <mat-step [editable]="editable" [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Select Grade</ng-template>
          <mat-form-field>
            <mat-label>Grade</mat-label>
            <input [max]="13" [min]="0" formControlName="grade" matInput placeholder="Grade" required type="number">
          </mat-form-field>
          <div>
            <mat-progress-bar *ngIf="progress" mode="indeterminate"></mat-progress-bar>
            <button (click)="getPaperByGrade(stepper)"
                    *ngIf="!progress"
                    color="primary"
                    mat-button
                    type="submit">Next
            </button>
          </div>
        </form>
      </mat-step>
<!--      <mat-step [editable]="editable" [stepControl]="secondFormGroup">-->
<!--        <form [formGroup]="secondFormGroup">-->
<!--          <ng-template matStepLabel>Select class</ng-template>-->
<!--          <mat-form-field>-->
<!--            <mat-label>class</mat-label>-->
<!--            <mat-select formControlName="class">-->
<!--              <mat-option *ngFor="let class of classes" [value]="class.id">-->
<!--                {{class?.name}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--          <div>-->
<!--            <mat-progress-bar *ngIf="progress2" mode="indeterminate"></mat-progress-bar>-->
<!--            <button (click)="getPaperByGrade(stepper)"-->
<!--                    *ngIf="!progress2"-->
<!--                    mat-button-->
<!--                    type="submit">Next-->
<!--            </button>-->
<!--          </div>-->
<!--        </form>-->
<!--      </mat-step>-->
      <mat-step [editable]="editable" [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Select Paper</ng-template>
          <mat-form-field>
            <mat-label>Paper</mat-label>
            <mat-select formControlName="paperNumber">
              <mat-option *ngFor="let paper of papers" [value]="paper?.paperNumber">
                {{paper?.id}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <mat-progress-bar *ngIf="progress3" mode="indeterminate"></mat-progress-bar>
            <button
                    (click)="stepper.next()"
                    mat-button
                    type="submit">Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [editable]="editable" [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Select paper end Time</ng-template>
          <mat-form-field>
            <mat-form-field>
              <input [ngxMatDatetimePicker]="picker" formControlName="time" matInput>
              <!--                             [formControl]="dateControl" [min]="minDate" [max]="maxDate" [disabled]="disabled"-->
              <!--                      >-->
              <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
              <ngx-mat-datetime-picker #picker>
                <!--                                               [showSpinners]="showSpinners" -->
                <!--                                               [showSeconds]="showSeconds"-->
                <!--                                               [stepHour]="stepHour" -->
                <!--                                               [stepMinute]="stepMinute" -->
                <!--                                               [stepSecond]="stepSecond"-->
                <!--                                               [touchUi]="touchUi" -->
                <!--                                               [color]="color" -->
                <!--                                               [enableMeridian]="enableMeridian"-->
                <!--                                               [disableMinute]="disableMinute" -->
                <!--                                               [hideTime]="hideTime"-->
                <!--                      >-->
              </ngx-mat-datetime-picker>
            </mat-form-field>
          </mat-form-field>
          <div>
            <mat-progress-bar *ngIf="progress3" mode="indeterminate"></mat-progress-bar>
            <button (click)="submit(stepper)"
                    *ngIf="!progress3"
                    mat-button
                    type="submit">Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <button (click)="stepper.reset()" mat-button>Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card-content>
</mat-card>
