<div class="row" style="margin: 0;background-image: url(../../assets/science-background-png-3.png);">
  <div class="col-md-4 col-1"></div>
  <div class="col-md-4 col-10">
    <mat-card>

      <div class="headtitle">
        <h4>Student Registration Form</h4>
      </div>
      <mat-card-content>
        <form class="formbox" (ngSubmit)="submit()" [formGroup]="myform">

          <mat-form-field appearance="outline">
            <mat-label>User ID</mat-label>
            <input formControlName="userID" pattern="202+([0-9]){4}([A-Z]){1}" matInput type="text">
            <mat-error
              *ngIf="myform.controls['userID'].invalid && (myform.controls['userID'].dirty || myform.controls['userID'].touched)"
              >
              <div *ngIf="myform.controls['userID'].errors.required">Please Contact Sir. User ID is required</div>
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Full Name</mat-label>
            <input formControlName="fullName" matInput type="text">
            <mat-error
              *ngIf="myform.controls['fullName'].invalid && (myform.controls['fullName'].dirty || myform.controls['fullName'].touched)"
            >
              <div *ngIf="myform.controls['fullName'].errors.required">Name is required</div>
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Grade</mat-label>
            <mat-select formControlName="grade">
              <mat-option (click)="getclass(11)" [value]="11">11</mat-option>
              <mat-option (click)="getclass(10)" [value]="10">10</mat-option>
              <mat-option (click)="getclass(9)" [value]="9">9</mat-option>
            </mat-select>
            <mat-error *ngIf="myform.controls['grade'].hasError('required')">
              Grade is required
            </mat-error>

          </mat-form-field>
          <br>

          <mat-form-field appearance="outline">
            <mat-label>Class </mat-label>
            <mat-select formControlName="class">
              <mat-option *ngFor="let class of selectClasses" [value]="class">
                {{class.class}}
              </mat-option>

            </mat-select>
            <mat-error *ngIf="myform.controls['class'].hasError('required')">
              You must make a selection
            </mat-error>
          </mat-form-field>

          <br>
<!--
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput type="text">
            <mat-error
              *ngIf="myform.controls['password'].invalid && (myform.controls['password'].dirty || myform.controls['password'].touched)">
              <div *ngIf="myform.controls['password'].errors.required">Password is required</div>
              <div *ngIf="(!myform.controls['password'].errors.required && myform.controls['password'].invalid)">Password must atleast 8 characters</div>
            </mat-error>
          </mat-form-field> -->
          <br>


          <mat-form-field appearance="outline">
            <mat-label>School</mat-label>
            <input formControlName="school" matInput type="text">
            <mat-error
              *ngIf="myform.controls['school'].invalid && (myform.controls['school'].dirty || myform.controls['school'].touched)"
              >
              <div *ngIf="myform.controls['school'].errors.required">School is required</div>
            </mat-error>
          </mat-form-field>
          <br>



          <mat-form-field appearance="outline">
            <mat-label>Address</mat-label>
            <input formControlName="address" matInput type="text">
            <mat-error
              *ngIf="myform.controls['address'].invalid && (myform.controls['address'].dirty || myform.controls['address'].touched)"
              >
              <div *ngIf="myform.controls['address'].errors.required">Address is required</div>
            </mat-error>
          </mat-form-field>
          <br>


          <mat-form-field appearance="outline">
            <mat-label>Telephone Number</mat-label>
            <input formControlName="teleNo" matInput type="text">
            <mat-error
              *ngIf="myform.controls['teleNo'].invalid && (myform.controls['teleNo'].dirty || myform.controls['teleNo'].touched)"
              >
              <div *ngIf="myform.controls['teleNo'].errors.required">Telephone Number is required</div>
              <div *ngIf="myform.controls['teleNo'].errors?.minLength">Please enter a valid number</div>
            </mat-error>
          </mat-form-field>
          <br>

          <mat-form-field appearance="outline" [color]="passwordComponent.color">
            <mat-label>Password</mat-label>
            <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
            <input formControlName="password" matInput #password [type]="toggle.type" required placeholder="Password">
            <mat-hint align="end" aria-live="polite">
              {{password.value.length}} / {{passwordComponent.max}}
            </mat-hint>
          </mat-form-field>
          <!--@angular-material-extensions/password-strength's main component-->
          <mat-password-strength #passwordComponent [password]="password.value">
          </mat-password-strength>
          <!--Password's strength info-->
          <mat-password-strength-info *ngIf="showDetails" [passwordComponent]="passwordComponent">
          </mat-password-strength-info>
          <br>

          <mat-form-field appearance="outline" [color]="passwordComponent.color">
            <mat-label>Confirm Password</mat-label>
            <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
            <input formControlName="cpassword" matInput #cpassword [type]="toggle.type" required placeholder="Confirm Password" [errorStateMatcher]="matcher">
            <mat-hint align="end" aria-live="polite">
              {{cpassword.value.length}} / {{password.value.length}}
            </mat-hint>

            <mat-error *ngIf="myform.hasError('notSame')">
                Passwords do not match
            </mat-error>

          </mat-form-field>

          <br>


          <button [disabled]="myform.invalid" class="button" mat-raised-button type="submit"
            color="primary">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-4 col-1"></div>
</div>
