::ng-deep .mat-line {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
  }
  
  
  ::ng-deep .mat-list .mat-list-item {
    height: initial !important;
  }
  
  
  .mat-card .mat-card-image {
    width: calc(50% + 0px) !important;
    margin: auto auto 30px auto !important;
    display: block !important;
  }
  
  
  @media only screen and (max-width: 768px) {
    .mat-card .mat-card-image {
      width: calc(100% + 0px) !important;
      margin: auto auto 30px auto !important;
      display: block !important;
    }
  }
  .questionButton{
    height:75%;
    top:15%;
    text-align: center;
    
  }
  .matcard1{
    margin-left: 20%;
    margin-right: 20%;
    
  }

  .green1 {
    background-color:#8aaaff;
}

.red1 {
    background-color: #3c5bab;
}
.green2 {
  background-color: #8aaaff;
}

.red2 {
  background-color: #3c5bab;
}
.green3 {
  background-color: #8aaaff;
}

.red3 {
  background-color: #3c5bab;
}
.green4 {
  background-color: #8aaaff;
}

.red4 {
  background-color: #3c5bab;
}

.no{
  background-color: #f05454;
}
.yes{
  background-color: #62de7a;
}