
<form [formGroup]="formGroup">
  <mat-card>
    <div class="p-20 bg-info position-relative">

      <h4 class="card-title text-white m-0">
        <ng-container *ngIf="!showCreatePaper">
          Create Paper
        </ng-container>
        <ng-container *ngIf="showCreatePaper">
          <button mat-icon-button (click)="closeWindow()" aria-label="Example icon button with a open in new tab icon">
            <mat-icon class="white-icon">arrow_back_ios</mat-icon>
          </button>
<!--          Create Grade {{formGroup.value.grade}}  -  Paper {{formGroup.value.paperNumber}}-->
        </ng-container>
      </h4>
    </div>
    <ng-template [ngIf]="!showCreatePaper">
      <mat-card-content>
        <mat-form-field appearance="outline">
          <mat-label>Grade</mat-label>
          <input formControlName="grade" matInput type="number">
          <mat-hint
            *ngIf="formGroup.controls['grade'].invalid && (formGroup.controls['grade'].dirty || formGroup.controls['grade'].touched)"
            class="alert alert-danger">
            <div *ngIf="formGroup.controls['grade'].errors.required">Grade is required</div>
          </mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Paper number</mat-label>
          <input formControlName="paperNumber" matInput type="number">
          <mat-hint
            *ngIf="formGroup.controls['paperNumber'].invalid && (formGroup.controls['paperNumber'].dirty || formGroup.controls['paperNumber'].touched)"
            class="alert alert-danger">
            <div *ngIf="formGroup.controls['paperNumber'].errors.required">paper number is required</div>
          </mat-hint>
        </mat-form-field>

        <button mat-raised-button color="primary"  type="submit" [disabled]="formGroup.invalid" (click)="showPaper()" style="margin:0 0 20px 30px">Create Paper</button>

      </mat-card-content>
    </ng-template>
    <ng-template [ngIf]="showCreatePaper">

      <mat-vertical-stepper  formArrayName="form">
        <mat-step [formGroupName]="i" *ngFor="let customerGroup of formGroup.controls.form.controls; let i = index">

          <ng-template matStepLabel>Question {{i + 1}}</ng-template>

          <ng-template [ngIf]="formGroup.controls.form.controls[i].controls.picture.value">
            <img  mat-card-image [src]="formGroup.controls.form.controls[i].controls.picture.value">
          </ng-template>

          <mat-form-field appearance="outline">
            <mat-label>Question</mat-label>
            <textarea matInput formControlName="question" placeholder="">Question</textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Answer 1</mat-label>
            <textarea matInput formControlName="answer1" placeholder="">Answer 1</textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Answer 2</mat-label>
            <textarea matInput formControlName="answer2" placeholder="">Answer 2</textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Answer 3</mat-label>
            <textarea matInput formControlName="answer3" placeholder="">Answer 3</textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Answer 4</mat-label>
            <textarea matInput formControlName="answer4" placeholder="">Answer 4</textarea>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Correct Answer</mat-label>
            <mat-select formControlName="correctAnswer" >
              <mat-option *ngFor="let type of correctAnswer" [value]="type.number">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <button mat-raised-button color="primary" matStepperPrevious style="margin:10px 0 30px 0"  color="warn"
                  (click)="openDialog(i)">
            Upload Image
          </button>

          <div class="nav-btn">
            <button mat-raised-button color="primary" matStepperPrevious>
              <mat-icon>chevron_left</mat-icon>
              Back
            </button>
            <button mat-raised-button color="primary" style="margin-left: 10px" matStepperNext>
              Next
              <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </mat-step>

      </mat-vertical-stepper>

      <button mat-raised-button color="primary"  type="submit" [disabled]="formGroup.invalid" (click)="submit()" style="margin:0 0 20px 30px">Submit</button>

    </ng-template>
  </mat-card>
</form>
