<ng-template [ngIf]="!isMobileMenu()">
  <mat-horizontal-stepper>
    <mat-step *ngFor="let  question of paper ; let i = index" [stepControl]="question.number">

      <!-- <ng-template matStepLabel></ng-template> -->

      <h2>Question {{i + 1}}</h2>

      <ng-template [ngIf]="question.picture">
        <img [src]="question.picture" mat-card-image>
      </ng-template>
      <p></p>
      <p class="writableTextArea">{{question.question}}</p>

      <mat-list>

        <mat-list-item style="margin-left: 2%;margin: 1%;">
          <mat-icon matListIcon>looks_one</mat-icon>
          <p matLine>
            <button mat-raised-button color="primary" class="questionButton" (click)="checkAnswer(question.number,1)"
              [ngClass]="{'green' : toggle[i] != 1, 'red':  toggle[i] == 1}"><small>
                {{question.answer1}}</small></button>
          </p>
        </mat-list-item>

        <mat-list-item style="margin-left: 2%;margin: 1%;">
          <mat-icon matListIcon>looks_two</mat-icon>
          <p matLine>
            <button mat-raised-button color="primary" class="questionButton" (click)="checkAnswer(question.number,2)"
              [ngClass]="{'green' :toggle[i] != 2, 'red':  toggle[i] == 2}"><small>
                {{question.answer2}}</small></button>
          </p>
        </mat-list-item>

        <mat-list-item style="margin-left: 2%;margin: 1%;">
          <mat-icon matListIcon>looks_3</mat-icon>
          <p matLine>
            <button mat-raised-button color="primary" class="questionButton" (click)="checkAnswer(question.number,3)"
              [ngClass]="{'green' :toggle[i] != 3, 'red':  toggle[i] == 3}"><small>
                {{question.answer3}}</small></button>
          </p>
        </mat-list-item>

        <mat-list-item style="margin-left: 2%;margin: 1%;">
          <mat-icon matListIcon>looks_4</mat-icon>
          <p matLine>
            <button mat-raised-button color="primary" class="questionButton" (click)="checkAnswer(question.number,4)"
              [ngClass]="{'green' : toggle[i] != 4, 'red': toggle[i] == 4}"><small>
                {{question.answer4}}</small></button>
          </p>
        </mat-list-item>
      </mat-list>

      <div *ngIf="question.number == 1" class="nav-btn">
        <button color="primary" mat-raised-button matStepperNext style="margin-left: 10px">
          Next
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div *ngIf="question.number != 1 && question.number != 20" class="nav-btn">
        <button color="primary" mat-raised-button matStepperPrevious>
          <mat-icon>chevron_left</mat-icon>
          Back
        </button>
        <button color="primary" mat-raised-button matStepperNext style="margin-left: 10px">
          Next
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div *ngIf="question.number == 20" class="nav-btn">
        <button color="primary" mat-raised-button matStepperPrevious>
          <mat-icon>chevron_left</mat-icon>
          Back
        </button>
        <button mat-raised-button color="primary" [disabled] ="(toggle.indexOf(0) != -1)" style="margin-left: 10px" (click)="submit()">Submit
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>

</ng-template>

<ng-template [ngIf]="isMobileMenu()">
  <mat-vertical-stepper>
    <mat-step *ngFor="let  question of paper ; let i = index" [stepControl]="question.number">

      <ng-template matStepLabel>Question {{i + 1}}</ng-template>

      <ng-template [ngIf]="question.picture">
        <div style="overflow-x: scroll;">
          <img [src]="question.picture" mat-card-image>
        </div>
      </ng-template>

      <p>{{question.question}}</p>

      <mat-list>

        <mat-list-item>
          <mat-icon matListIcon>looks_one</mat-icon>
          <p >
            <button mat-raised-button color="primary" class="btn questionButton" (click)="checkAnswer(question.number,1)"
              [ngClass]="{'green' : toggle[i] != 1, 'red': toggle[i] == 1}"><small> {{question.answer1}}</small></button>
          </p>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>looks_two</mat-icon>
          <p >
            <button mat-raised-button color="primary" class="btn questionButton" (click)="checkAnswer(question.number,2)"
              [ngClass]="{'green' : toggle[i] != 2, 'red': toggle[i] == 2}"><small> {{question.answer2}}</small></button>
          </p>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>looks_3</mat-icon>
          <p >
            <button mat-raised-button color="primary" class="btn questionButton" (click)="checkAnswer(question.number,3)"
              [ngClass]="{'green' : toggle[i] != 3, 'red': toggle[i] == 3}"><small> {{question.answer3}}</small></button>
          </p>
        </mat-list-item>

        <mat-list-item>
          <mat-icon matListIcon>looks_4</mat-icon>
          <p>
            <button mat-raised-button color="primary" class="btn questionButton" (click)="checkAnswer(question.number,4)"
              [ngClass]="{'green' : toggle[i] != 4, 'red': toggle[i] == 4}"><small> {{question.answer4}}</small></button>
          </p>
        </mat-list-item>
      </mat-list>

      <div *ngIf="question.number == 1" class="nav-btn">
        <button color="primary" mat-raised-button matStepperNext style="margin-left: 10px">
          Next
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div *ngIf="question.number != 1 && question.number != 20" class="nav-btn">
        <button color="primary" mat-raised-button matStepperPrevious>
          <mat-icon>chevron_left</mat-icon>
          Back
        </button>
        <button color="primary" mat-raised-button matStepperNext style="margin-left: 10px">
          Next
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
      <div *ngIf="question.number == 20" class="nav-btn">
        <button color="primary" mat-raised-button matStepperPrevious>
          <mat-icon>chevron_left</mat-icon>
          Back
        </button>
        <button mat-raised-button color="primary" [disabled] ="(toggle.indexOf(0) != -1)" style="margin-left: 10px" (click)="submit()">Submit
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    </mat-step>

  </mat-vertical-stepper>

</ng-template>

  <ng-template [ngIf]="submitted">
    <mat-card-content class="matcard1">
      <h4>Do you want to finish the paper?</h4>
      <button mat-raised-button class="yes" (click)="submit2('markingsheet')">Yes</button><br><br>
      <button mat-raised-button class="no" (click)="submit()">No</button>
  </mat-card-content>
  </ng-template>



